<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal Rate Calculator</title>
</head>

<body>

    <h1>Results</h1>
    <div>

        <p>The price of postage for a <%= type %> weighing <%= weight %> total ounces is $<%= postage %>.</p>
    </div>
    <button type="button"><a href="/">Click Here To Return to the Postal Rate Calculator</a></button>

<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>